extends ../topic_header
block content
	h1 Login
	form(action='/auth/login', method='post')
		p
			input(type='text', name='username', placeholder='username')
		p
			input(type='password', name='password', placeholder='password')
		p
			input(type='submit')
	p
		a(href='/auth/register') register
	p
		a(href='/auth/facebook') Facebook

